<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vincent.tonyrecorder">

    <application>
        <activity
            android:name="com.vincent.tonyrecorder.activity.BlankActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>l
        <provider
            android:name="com.vincent.tonyrecorder.RDFileProvider"
            android:authorities="${applicationId}.pdFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>